div.prt-stage-toggle {
    margin-bottom: 4px !important;
}

/*
div.btn-open-stage-1,
div.btn-open-stage-2,
div.btn-open-stage-3 {
    box-sizing: border-box;
    margin-top: -4px;
    margin-left: -10px;
    margin-right: -13px;
    transform: scaleX(0.85) !important;
}

div.btn-open-stage-1:active,
div.btn-open-stage-2:active,
div.btn-open-stage-3:active {
    transform: translateY(2px) scaleX(0.85) !important;
}

div.btn-repeat-last {
    display: block;
    background: url('http://game-a1.granbluefantasy.jp/assets_en/img/sp/coopraid/room/parts-scd67803344.png') no-repeat 0 -1634px;
    -webkit-background-size: 320px 2524px;
    background-size: 320px 2524px;
    width: 96px;
    height: 31px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 10px;
    text-align: center;
    padding-top: 9px;

    margin-top: -1px;
    margin-left: -13px;
    margin-right: 0px;

    transform: scaleX(0.7) scaleY(0.8);

    color: #f2eee2;
    line-height: 1;
    text-shadow: 0px 0px 1px #150f0f,0px 0px 1px #150f0f,0px 0px 1px #150f0f,0px 0px 2px #150f0f,0px 0px 2px #150f0f,0px 0px 2px #150f0f;    
}

div.btn-repeat-last.ja {
    font-size: 14px;
    padding-top: 7px;
}

div.btn-repeat-last:active {
    transform: translateY(2px) scaleX(0.7) scaleY(0.8) !important;
}

*/

div.txt-room-id {
    user-select: text !important;
}