body,
.prt-user-info .prt-info-profile .btn-user-name,
.prt-user-name .txt-user-name {
    font-family: vmLato, "FOT-テロップ明朝 Pro D", "Average Sans", sans-serif !important;
}

html[lang="ja"] body,
html[lang="ja"] .prt-user-info .prt-info-profile .btn-user-name,
html[lang="ja"] .prt-user-name .txt-user-name {
    font-family: vmLato, "FOT-テロップ明朝 Pro D", "Average Sans", "Yu Gothic", "Meiryo", sans-serif !important;
}

div.skill-queue,
div.debuff-timers,
div.buff-timers,
div.lis-ability > div:first-child,
div.lis-ability-state,
div.number-container,
div.raid.joined:after,
div.watch-button,
span.class-change-button,
span.weapon-change-button {
    font-family: vmLato, Tahoma, Verdana, sans-serif !important;
}

div.btn-command-back, 
div.btn-attack-start, 
div.btn-lock, 
div.btn-command-summon, 
div.prt-sub-command > div.btn-temporary,
div.quick-button,
div.quick-summon {
    font-family: vmLato, Tahoma, Verdana, sans-serif !important;
}

div.txt-bp-remaining,
div.txt-stamina-remaining,
div.prt-head-current {
    padding-top: 5px !important;
}

div.prt-info-possessed > div.prt-lupi,
div.prt-stone,
div.prt-jp,
div.prt-rawstone,
div.prt-mbp-possessed > div.prt-mbp-box,
div.prt-mbp-possessed > div.prt-hmbp-box {
    padding-top: 3px !important;
}

div.prt-quest-list div.txt-free-campaign {
    margin-left: -7px !important;
}

div.prt-percent {
    padding-top: 1px;
}

div.quick-summon.unavailable:after {
    padding-top: 1px;
}

div.cnt-exchange div#prt-change-list div.prt-npc-name {
    top: 52px !important;
}

div.prt-assault-infomation div.txt-assault-setting {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.prt-weapon-main-status-skill .prt-skill .prt-slv-value {
    bottom: 2px !important;
}

.cnt-weapon-list .prt-weapon-list .prt-skill .prt-slv-value {
    bottom: 3px !important;
}