div.quick-panels {
    box-sizing: border-box;
    position: absolute;
    width: 214px;
    left: 7px;
    top: 117px;
    height: 17px;
    padding: 0px;
    margin: 0px;
    overflow: visible;
    /* A mask appears at z-index 9999 during skill use */
    z-index: 10001;
}

div.quick-panels.visible {
    display: block !important;
}

div.quick-panels.invisible {
    display: none !important;
}

div.cnt-raid.large-quick-panels div.quick-panels {
    height: 50px;
}

div.quick-panels > div.quick-panel {
    box-sizing: border-box;
    position: absolute;
    transform-origin: 0% 0%;
    transform: scale(0.35);
    top: 0px;
    width: 148px;
    height: 39px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

div.quick-panel.focused {
    border-color: white;
    background: rgba(50,38,38,0.75);
    box-shadow: inset 0 0 6px 1px rgba(99,159,168,0.9),
        0 0 3px 1px rgba(255, 255, 255, 0.75);
}

div.cnt-raid.large-quick-panels div.quick-panels > div.quick-panel {
    transform: scale(0.67) !important;
    width: 76px !important;
    height: 74px !important;
}

div.quick-panel > div.quick-button {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 38px;
    height: 38px;
    padding: 0px;
    margin: -1px;
}

div.cnt-raid.large-quick-panels div.quick-button {
    margin-bottom: 2px !important;
}

div.quick-panel.prt-ability-list:after {
    display: none;
}

div.quick-button div.ico-ability-recast {
    top: 5px !important;
    left: 6px !important;
    transform: scale(0.85);
    transform-origin: 0% 0%;
}

div.prt-command {
    height: 240px !important;
}

div.cnt-raid.large-quick-panels div.prt-command {
    height: 286px !important;
}

div.prt-sub-command {
    margin-top: 126px !important;
}

div.cnt-raid.large-quick-panels div.prt-sub-command {
    margin-top: 162px !important;
}

div.cnt-multi {
    margin-top: 460px;
}

div.active-mask#multi-btn-mask {
    top: 460px !important;
}

div.cnt-raid.large-quick-panels div.cnt-multi {
    margin-top: 492px !important;
}

div.active-mask#heal-btn-mask,
div.active-mask#okugi-btn-mask,
div.active-mask#speed-btn-mask {
    top: 423px !important;
}

div.active-mask#heal-btn-mask.large-quick-panels, 
div.active-mask#okugi-btn-mask.large-quick-panels, 
div.active-mask#speed-btn-mask.large-quick-panels {
    top: 457px !important;
}

div.active-mask#multi-btn-mask.large-quick-panels {
    top: 492px !important;
}

div.quick-summon-panel {
    box-sizing: border-box;
    position: absolute;
    width: 82px;
    left: 232px;
    top: 116px;
    height: 27px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: block;
    /* A mask appears at z-index 9999 during skill use */
    z-index: 10000;
}

div.quick-summon {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 13px;
    height: 27px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 0.5px;
}

div.quick-summon.unavailable:after {
    box-sizing: border-box;
    display: "block";
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    content: attr(recast);
    padding: 1px;
    padding-top: 0px;
    font-size: 4.5pt;
    text-align: right;
}

.prt-command-chara .prt-ability-list .lis-ability [class^="shine"] {
    /*
    top: 4px !important;
    left: 4px !important;
    width: 36px !important;
    height: 36px !important;
    */
}