div.lis-ability.on {
    -webkit-transform: none !important;
    transform: none !important;    
}

div.lis-ability.btn-ability-unavailable.on::after {
    display: none !important;
}

div.lis-ability::after {
    content: "";
    display: block;
    position: absolute;
    left: 4px;
    top: 4px;
    bottom: -5px;
    right: 4px;
    pointer-events: none;
    border-style: solid;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.0);
    border-color: rgba(32, 32, 32, 0.0);
    border-width: 0px;
    transition: border-color 0.25s, border-width 0.25s, background-color 0.25s;
}

div.lis-ability.on::after {
    background-color: rgba(255, 255, 255, 0.25);
    border-color: rgba(32, 32, 32, 1);
    border-width: 3.33px;
}

div.lis-ability.quick-button::after {
    right: -2px;
    bottom: -2px;
}