div.watch-button {
    box-sizing: border-box;
    font-size: 18px;
    line-height: 15px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(245, 245, 245, 0);
    cursor: pointer;
    border-radius: 6px;
    padding-bottom: 2px;
    transition: border-color 0.25s, background-color 0.25s;
    width: 24px;
    height: 16px;
}

div.prt-item-filter div.watch-button {
    left: 2px;
    bottom: 20px;
    zoom: 0.75;
}

div.btn-article-icon > div.watch-button {
    z-index: 31;
    left: 1px;
    top: 3px;
    zoom: 0.8;
}

div.btn-material.lis-material > div.watch-button {
    z-index: 11;
    left: 3px;
    top: 3px;
    zoom: 0.9;
}

div.btn-material.lis-material-ng > div.watch-button {
    z-index: 33;
    left: 3px;
    top: 3px;
    zoom: 0.9;
}

div.item-explain div.watch-button {
    z-index: 2;
    left: 0px;
    top: -1px;
    zoom: 0.7;
}

div.watch-button {
    background-image: url('chrome-extension://__MSG_@@extension_id__/content/watch-item.png');
}

div.watch-button:hover {
    border-color: rgba(245, 245, 245, 0.45);
    background-color: rgba(245, 245, 245, 0.33);
}

div.watch-button.active {
    background-image: url('chrome-extension://__MSG_@@extension_id__/content/watched-item.png');
    background-color: rgba(240, 255, 250, 0.33);
}

div.watch-button.active:hover {
    border-color: rgba(240, 255, 250, 0.75);
    background-color: rgba(240, 255, 250, 0.6);
}