<el-container>
        <el-main>
            <el-form [formGroup]="utilForm" label-width="150px" size="small" label-position="left">
                <el-form-item [label]="'SETTING.UTIL.MUTE' | translate">
                    <div class="checkbox">
                        <el-switch formControlName="Mute"></el-switch>
                    </div>
                </el-form-item>
                <el-form-item [label]="'SETTING.UTIL.LOCK' | translate">
                    <div class="checkbox">
                        <el-switch formControlName="Lock"></el-switch>
                    </div>
                </el-form-item>
            </el-form>
        </el-main>
    </el-container>