body {
    overflow-x: hidden;
    overflow-y: auto;
}

div.lis-ability-state,
div.lis-ability,
div.number-container,
div.btn-command-back,
div.btn-attack-start,
div.btn-lock,
div.btn-command-summon,
div.prt-sub-command > div.btn-temporary,
div.watch-button,
div.player > div.txt-name,
div.player > div.txt-rank,
div.pop-alliance-window > div.lis-user > div.txt-name,
div.pop-alliance-window > div.lis-user > div.txt-rank,
div.prt-deck-slider ol.flex-control-paging a:after,
div.prt-deck-select-slider ol.flex-control-paging a:after,
span.class-change-button,
span.weapon-change-button,
div.no-faves-message,
div.reorder-widget,
input.stamp-filter {
    /*
    text-shadow: 
        -0.66px 0px 0 rgba(0, 0, 0, 0.95),
        0.66px 0px 0 rgba(0, 0, 0, 0.95),
        0px -0.66px 0 rgba(0, 0, 0, 0.95),
        0px 0.66px 0 rgba(0, 0, 0, 0.95),
        0.5px 0.5px 1px rgba(0, 0, 0, 0.8)
    ;
    */

    text-shadow: 0px 0px 1px #000000, 
        0px 0px 1px #000000, 
        0px 0px 1px #000000, 
        0px 0px 2px #000000, 
        0px 0px 3px #000000
        ;
}

div.lis-ability div[hotkey-text]::after,
div.lis-ability-state,
div.number-container,
div.watch-button {
    font-family: Tahoma, Verdana, sans-serif;
}

div.lis-ability div[hotkey-text]::after {
    position: absolute;
    top: 4px;
    left: 5px;
    content: attr(hotkey-text);
    font-size: 8pt;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
    cursor: default;
    pointer-events: none;
    transition: color 0.2s, text-shadow 0.2s;
}

div.quick-panel div.lis-ability div[hotkey-text]::after {
    top: 3.5px;
    left: 4.5px;
    font-size: 10pt;
}

div.quick-panel:not(.focused) div.lis-ability div[hotkey-text]::after {
    color: rgba(255, 255, 255, 0);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0);
}

div.lis-ability-state {
    font-size: 6pt;
    color: white;
    text-align: center;
    padding-top: 1px;
}

.prt-module:before {
    border-style: solid;
}

div#pop-deck div.prt-register div.btn-usual-register:after {
    content: "Copy to this party slot" !important;
}

div.event-total {
    display: flex;
}

div.event-total-text {
    flex: 1;
}

.prt-guild-menu .btn-multi-blink {
    -webkit-animation: none !important;
    -animation: none !important;
}

div.prt-deck-slider ol.flex-control-paging li,
div.prt-deck-select-slider ol.flex-control-paging li {
    position: relative;
}

div.prt-deck-slider ol.flex-control-paging a[deck-name]:before {
    margin-top: 4px !important;
}

div.prt-deck-select-slider ol.flex-control-paging a[deck-name]:before {
    margin-top: 8px !important;
}

div.prt-deck-slider ol.flex-control-paging a[deck-name]:after {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 2px;
    bottom: 0px;
    text-align: center;
    color: white;
    font-size: 10.5px;
    content: attr(deck-name);
}

div.prt-deck-select-slider ol.flex-control-paging a[deck-name]:after {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 10px;
    bottom: 0px;
    text-align: center;
    color: white;
    font-size: 10.5px;
    content: attr(deck-name);
}

div.pop-deck div.prt-deck-slider ol.flex-control-paging {
    margin-top: 8px;
}

div.pop-deck div.prt-supporter {
    margin-top: 174px !important;
}

div#submenu {
    transform-origin: 0 0;
}

div#submenu:not(.open) {
    transform: none !important;
}

div.prt-leader {
    position: relative;
}

div.prt-leader span.class-change-button {
    top: 2px;
}

div.prt-leader span.weapon-change-button {
    top: 14px;
}

div.prt-leader span.class-change-button, div.prt-leader span.weapon-change-button {
    position: absolute;
    left: 3px;
    width: 36px;
    text-align: center;    
    font-size: 8px;
    line-height: 9px;
    border-radius: 4px;
    border-width: 0.66px;
    border-style: solid;
    box-sizing: border-box;
    color: rgb(240, 240, 240);
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    color: white;
    padding: 1px;
    cursor: pointer;
}

span.class-change-button:hover, span.weapon-change-button:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-color: rgba(255, 255, 255, 0.5) !important;
    color: white;
}

div.pop-alliance-window {
    padding-top: 90px !important;
}

div.pop-alliance-window div.lis-user div.txt-name {
    padding-top: 2px !important;
}

div.pop-alliance-window div.lis-user div.txt-rank {
    padding-top: 0.5px !important;
    padding-left: 38px !important;
    font-size: 8px !important;
}

div.prt-exp-box div.prt-player-exp div.prt-rankup {
    font-size: 6pt !important;
}

div.prt-event-record div.txt-total-record {
    text-shadow: 0px 0px 3px white, 0px 0px 2px white, 0px 0px 1px white;
}

div.prt-weapon-main-status-skill,
div.prt-weapon-sub-status-skill {
    position: relative;
    overflow: visible;
}

div.prt-weapon-main-status-skill div.ico-atk,
div.prt-weapon-sub-status-skill div.ico-atk {
    max-width: 22px;
    margin-left: -3px;
    margin-top: -1px;
}

div.prt-weapon-main-status-skill div.prt-attack,
div.prt-weapon-sub-status-skill div.prt-attack {
    position: absolute;
    left: 0px;
    width: 56px !important;
    transform-origin: 0% 0%;
    transform: scale(0.8);
    background: rgba(0, 0, 0, 0.5) !important;
    border-radius: 6px;
}

div.prt-weapon-main-status-skill div.prt-attack {
    left: -1px;
    top: -158px;
}

div.prt-weapon-sub-status-skill div.prt-attack {
    top: -38px;
}

@keyframes fade-in {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1;
    }
}

@keyframes activating-pulse {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 0px 36px;
    }
}

div.lis-ability.activating:after {
    content: "";
    display: block;
    position: absolute;    
    left: 7px;
    top: 7px;
    right: 7px;
    bottom: -2px;
    background-position: 0px 0px;
    background-size: 36px 36px;
    background-image: repeating-linear-gradient(
        to bottom, 
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,0) 25%,
        rgba(255,255,255,0.7) 50%,
        rgba(255,255,255,0) 75%,
        rgba(255,255,255,0) 100%
    );
    border-radius: 2px;
    animation: activating-pulse 0.95s infinite linear, fade-in 0.15s linear;
    z-index: 3;
}

div.lis-ability.activating.quick-button:after {
    left: 7px !important;
    top: 7px !important;
    right: 1px !important;
    bottom: 1px !important;
}

div.prt-raid-log.log-ability.log-battle {
    pointer-events: none;
}

.prt-supporter-list .lis-supporter div.prt-supporter-name {
    position: relative;
    z-index: 3;
    pointer-events: none;
}

div.prt-supporter-name > a {
    color: rgb(230, 230, 230) !important;
    pointer-events: auto !important;
    cursor: pointer !important;
    text-shadow: none !important;
    text-decoration: none !important;
    border-width: 0px;
    border-bottom-width: 1px;
    border-radius: 1px;
    border-color: rgba(220, 220, 255, 0.75);
    border-style: solid;
    transition: color 0.25s, border-color 0.25s;
}

div.prt-supporter-name > a:hover {
    color: white !important;
    border-color: rgba(230, 230, 255, 1) !important;
}

div.btn-export-grid {
    background: url(http://game-a.granbluefantasy.jp/assets_en/img/sp/ui/button-s307f821168.png) no-repeat 0 -1279px;
    background-size: 223px 2630px;
    box-sizing: border-box;
    color: #f2eee2;
    text-shadow: 0 0 1px #253544,0 0 1px #253544,0 0 1px #253544,0 0 1px #253544,0 0 2px #253544,0 0 2px #253544,0 0 2px #253544,0 0 2px #253544;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    height: 36px;
    width: 141px;
    padding-left: 3px;
    padding-top: 9px;
    margin-top: 12px;
    right: -13px;
    position: absolute;
    transform-origin: 50% 50%;
    transform: scale(0.85) !important;
}

div.btn-export-grid:active {
    transform: scale(0.71) translateY(2px) !important;
}

div#prt-weapon > div.prt-bottom,
div#prt-summon > div.prt-bottom {
    margin-top: -30px !important;
}

div.prt-symbolmark {
    margin-top: 28px !important;
}

div.lis-user > div.txt-point {
    margin-top: -1px;
    padding-top: 0px;
}

div.txt-baloon {
    position: relative;
    padding-right: 12px !important;
}

div.txt-baloon.uses-treasure {
    padding-top: 10px !important;
    padding-left: 57px !important;
}

div.support-treasure-icon {
    position: absolute;
    left: 25px;
    top: 10px;
    bottom: 0px;
    padding: 0px;
}

div.support-treasure-icon img {
    height: 28px;
}

div.support-treasure-icon img.clickable {
    border-style: solid;
    border-width: 1.5px;
    border-radius: 2px;
    border-color: rgba(32, 64, 160, 0.5);
    margin: -1.5px;
    margin-top: -3px;
    margin-bottom: 0px;
    transition: border-color 0.33s, border-width 0.3s;
}

div.support-treasure-icon img.clickable:hover {
    border-color: rgba(64, 96, 220, 1);
}

div.support-treasure-icon div {
    font-size: 7.5px;
    font-weight: bold;
    display: block;
    margin-top: -3px;
    width: 100%;
    text-align: center;
}

div.cnt-detail > div.prt-bonus-reset {
    position: absolute;
    left: 16px;
    z-index: 1;
    transform: scale(0.75);
    transform-origin: 0% 50%;
}

div.cnt-detail.summon > div.prt-bonus-reset {
    top: 158px;
}

div.cnt-detail.weapon > div.prt-bonus-reset {
    top: 206px;
}

div.cnt-material-status div.prt-attribute-bonus {
    display: none !important;
}

div.button-pulse {
    display: block;
    position: absolute;
    pointer-events: none;
    border-radius: 4px;
    z-index: 900001;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.pulse-animation {
    transform-origin: 50% 50%;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 0.75);
    border-style: solid;
    border-width: 1px;
    animation-name: pulse;
    animation-duration: 0.15s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.15;
    }
    20% {
        opacity: 0.66;
    }
    60% {
        transform: scale(1.05);
        opacity: 0.3;
    }
    90% {
        transform: scale(1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

div.btn-command-back, 
div.btn-attack-start, 
div.btn-lock, 
div.btn-command-summon, 
div.prt-sub-command > div.btn-temporary,
div.quick-button,
div.quick-summon {
    color: white;
    font-family: vmLato, Tahoma, Verdana, sans-serif;
    padding-top: 1px;
    box-sizing: border-box;
}

div.btn-lock {
    padding-left: 13px;
    padding-top: 17px;
    font-size: 6pt;
}

div.prt-sub-command > div.btn-temporary {
    padding-left: 10px;
    padding-top: 10.5px;
    font-size: 6pt;
}

div.btn-command-back {
    font-size: 6.5pt;
    font-weight: bold;
    padding-left: 1px;
}

.pop-synopsis .prt-conditions .txt-conditions-title,
.pop-synopsis .prt-conditions .txt-conditions-caption {
    text-align: center !important;
    width: 180px !important;
    margin-right: 0px !important;
}

div.lis-ability, div.lis-ability div, div.lis-ability img {
    user-select: none;
    -webkit-user-drag: none;
}

div.ico-ability-recast, div.prt-start-recast {
    pointer-events: none;
}

div.prt-battle-id, div.txt-room-comment, div.prt-comment {
    user-select: text !important;
}