.btn {
  font-size: 24px;
  padding: 3px 10px 3px 10px;
  color: white;
}

.btn:hover {
  color: black;
  background: #d3dce6;
}
.log {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100%;
  align-items: center;
  color: white;
  max-width: 60%;
  font-size: 12px;
  .url {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .count {
    margin-left: 10px;
    margin-right: 10px;
    flex-shrink: 0;
    .success {
      color: #13ce66;
    }
    .error {
      color: #ff4949;
    }
  }
}
:host {
  height: 30px;
  background: #475669;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 100;
}
