<div el-container>
    <div el-main>
        <el-form label-width="150px" size="small" label-position="left">
            <el-form-item [label]="'SETTING.MAP.SPEEDUP' | translate">
                <el-input [model]="globalSettingService.GlobalSetting.SpeedUpKey" (keyup)="keyup('SpeedUpKey',$event)"></el-input>
            </el-form-item>
            <el-form-item [label]="'SETTING.MAP.USESKILL' | translate">
                <el-input [model]="globalSettingService.GlobalSetting.UseSkillKey" (keyup)="keyup('UseSkillKey',$event)"></el-input>
            </el-form-item>
        </el-form>
    </div>
</div>