.container {
    height: 25px;
    background: white;
    -webkit-app-region: drag;
}

.title {
    margin: 0;
    font-size: 12px;
    line-height: 24px;
    padding-left: 7px; // font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
}

.btn {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    -webkit-app-region: no-drag;
    transition: all 0.2s;
    float: right;
}

.btn:hover {
    background: #D3DCE6;
    color: white;
}

.close:hover {
    background: #FF4949;
    color: white;
}

.btn-container {
    display: flex;
    justify-content: space-around;
}
