<div el-row class="container">
    <div el-col span="8" class="menu">
        <el-menu [(model)]="index">
            <el-menu-item index="util">{{'SETTING.UTIL.UTIL' | translate}}</el-menu-item>
            <el-menu-item index="proxy">{{'SETTING.PROXY.PROXY' | translate}}</el-menu-item>
        </el-menu>
    </div>
    <div el-col span="16" class="content" [ngSwitch]="index">
        <app-setting-proxy *ngSwitchCase="'proxy'"></app-setting-proxy>
        <app-setting-util *ngSwitchCase="'util'"></app-setting-util>
    </div>
</div>